doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet' href='index.css')
	body
		h1 m
		p Parsing @mimori_suzuko tweet
		h2
			a(href='https://twitter.com/mimori_suzuko/status/779698519703642112') Original tweet
		textarea.
			入浴剤がないと基本的にお風呂浸かりたくない。
			でも今日は中から昆布がたくさん出てきて、一瞬何かわからなくてギョっとしたわー…>_<…
		h2 Trim it
		textarea(readonly)
		h2 Parse it
		textarea(readonly)
		script(src='index.js')